.content-box {
    top: 50px;
}

.optional-items {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.optional-items li, .budget ul li {
    list-style: none;
    width: max-content;
    padding: 10px;
    background-color: #b06e04cb;
    color: white;
    border-radius: 5px;
    transition: 0.4s;
}

.optional-items li label {
    padding: 10px;
}

.makiladilla {
    margin: 20px 0 0 20px;
}

.makiladilla:first-child {
    margin-left: 35px;
}

.optional-items li.checked-item,
.budget ul li.checked-item {
  background-color: rgb(67, 31, 5);
  color: white;
}

.optional-items li:hover, .budget ul li:hover {
    box-shadow: 0 0 4px 4px rgb(127, 127, 62);
}

.makiladilla input, .makiladilla label {
    margin-left: 15px;
    font-size: 1.2rem;
}

input[type="checkbox"]  {
   display: none;
}

.makiladilla p {
    padding-left: 15px;
}

tr td:first-child, tr th:first-child {
    padding: 0 20px;
}
table {
    width: 100%;
}

.reset_btn {
    padding: 10px;
    background-color: rgb(179, 54, 54);
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    font-family: var(--font-family);
}

.reset_btn:hover {
    background-color: rgb(94, 7, 7);
}

.download_btn {
        padding: 10px;
    background-color: rgb(25, 198, 97);
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    font-family: var(--font-family);
}

.download_btn:hover {
    background-color: rgb(5, 71, 35);
}

.generate_btn {
            padding: 10px;
    background-color: rgb(54, 179, 164);
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    font-family: var(--font-family);
}

.generate_btn:hover {
    background-color: rgb(7, 115, 99);
}

@media (max-width:700px)  {
    tr td:first-child, tr th:first-child {
    padding: 0 10px;
}
}