.icons {
    position: fixed;
    transform: rotate(-90deg);
    z-index: 10000;
    color: white;
    right: -65px;
    top: 40vh;
    display: flex;
    gap: 30px;
    transition: 0.5s ease;
}

.icons.scroll-top {
    transform: rotate(0deg);
    width: 100%;
    left: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    top: 80px
}

.icons.scroll-bottom {
        transform: rotate(0deg);
    width: 100%;
    left: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    bottom: -370px;
}